{{- if eq .chezmoi.os "windows"}}
.zshrc
.profile
.config/nvim
.config/powershell
.config/tmux
.config/zsh
.config/sway
.local/
{{- else }}
OneDrive
Documents
AppData
.bash_profile
.minttyrc
.config/yasb
.oh-my-zsh/cache
komorebi.json
{{- end }}
.nvim
