# This is Git's per-user configuration file.
[user]
	name = Michael Melancon
	email = michaelmelancon@gmail.com
[fetch]
	prune = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
	sslbackend = openssl
[credential]
{{ if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
  helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
{{ else }}
  helper = git-credential-manager
{{ end }}
[credential "https://dev.azure.com"]
  usehttppath = true
[core]
	longpaths = true
[gpg]
	format = openpgp
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[rebase]
	autoStash = true
	autosquash = false
	updateRefs = false
