import = ["~/.config/alacritty/themes/themes/one_dark.toml"]
{{ if eq .chezmoi.os "windows" }}
working_directory = "{{.chezmoi.homeDir}}"
shell.program = "pwsh"
{{ end }}

[colors]
draw_bold_text_with_bright_colors = true

[font]
size = 12
normal.family = "FiraCode Nerd Font Mono"

[bell]
animation = "Ease"
duration = 10

[keyboard]
bindings = [
  { key = "Slash", mods = "Control", chars = "\u001f" },
]
